@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

<ul>
  @foreach(Item item in ViewBag.DueDate)
  {
    <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) | @item.DueDate</li>
  }
</ul>

<p>@Html.ActionLink("Home", "Index", "Home")</p>

<p>@Html.ActionLink("Add new item", "Create")</p>